.login {
  display: flex;
  align-items: center;
}

.login span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: .2px;
}

.login button {
  margin-left: 25px;
  background: transparent;
  border: 1px solid #fff;
  color: white;
}

.login button:hover,
.login button:active {
  background: #fff;
  border: 1px solid #000;
  color: #000;
}
